# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.vrb
*.xdv
*.log
*.lof
*.aux
*.lot
*.maf
*.mtc0
*.out
*.toc
*.mtc
*.nav
*.snm


# Atom ide-cquery
.vscode
